body {
  background-color: whitesmoke;
  margin: 0;
  text-align: center;
  font-family: 'Sanchez', serif;
}

h1 {
  margin: 50px auto 0;
  font-family: 'Rock Salt', cursive;
  color: #66BFBF;
  line-height: 3;
}

h2 {
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}
hr{
 margin: 5px;

}
/*fonts
font-family: 'Anonymous Pro', monospace;
font-family: 'Hi Melody', cursive;
font-family: 'Sanchez', serif;
font-family: 'Short Stack', cursive;*/
/*class selectors*/
.name {
  background-color: ghostwhite;
  padding-top: 100px;
  position: relative;
}

.Anshu {
  font-size: 5.5rem;
}

.t-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.b-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.webd {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem
}

.webds {
  color: indigo;
}

.dragongif {
  border: 0;
}
.skill-row{
  width:50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.wdpng{
height: 250px;
width: 300px;
float:left;
margin: 30px;
}
.lappng{
  height: 250px;
  width: 300px;
  float: right;
  margin: 30px
}
.bottom-container
{background-color: #66BFBF}
.btn {
  background: #30a6f0;
  background-image: -webkit-linear-gradient(top, #30a6f0, #238bfa);
  background-image: -moz-linear-gradient(top, #30a6f0, #238bfa);
  background-image: -ms-linear-gradient(top, #30a6f0, #238bfa);
  background-image: -o-linear-gradient(top, #30a6f0, #238bfa);
  background-image: linear-gradient(to bottom, #30a6f0, #238bfa);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

.btn:hover {
  background: #5492f0;
  background-image: -webkit-linear-gradient(top, #5492f0, #7161ff);
  background-image: -moz-linear-gradient(top, #5492f0, #7161ff);
  background-image: -ms-linear-gradient(top, #5492f0, #7161ff);
  background-image: -o-linear-gradient(top, #5492f0, #7161ff);
  background-image: linear-gradient(to bottom, #5492f0, #7161ff);
  text-decoration: none;
}
.contact-me{
  margin-bottom: 30px;
}
.bottom-container{
  padding: 10px;
}
.footer-link{
  color:#055860;
  padding: 3px;
font-family: 'Short Stack', cursive;

}
