body {
  background-color: whitesmoke;
  margin: 0;
  text-align: center;
  font-family: 'Sanchez', serif;
}

h1 {
  margin: 50px 0 0;
  font-family: 'Rock Salt', cursive;
  color: #11999E;
  line-height: 3;
  padding: 0 40px 0;
}

h2 {
  color: #11999E;
  font-weight: normal;
}

h3 {
  color: #66BFBF;
}

hr{
 padding: 5px;
 border-color:#CBCFCF;
 border-style: none;
 border-top-style: dotted;
 border-width: 8px;
 width: 8%;

}
/*fonts
font-family: 'Anonymous Pro', monospace;
font-family: 'Hi Melody', cursive;
font-family: 'Sanchez', serif;
font-family: 'Short Stack', cursive;*/
/*class selectors*/
.name {
  background-color: ghostwhite;
  padding-top: 100px;
  position: relative;
}

.Anshu {
  font-size: 5rem;
}
/*name span*/
.a1
{
  padding: 0;
}

.t-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.b-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
/*that color changing span*/
.a {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
}

.w {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: indigo;
  margin-left: 30px;
}

.e1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: indigo;
}
.b {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: indigo;
  margin-right: 30px;
}

.d {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
}

.e2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
}

.v {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
}

.e3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
}

.l {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
}

.o {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
}

.p {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem
}

.e4 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
}

.r {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
}
/*color changing hover*/
.a:hover {
  font-family: 'Press Start 2P', cursive;
  color:red;
}

.w:hover {
  font-family: 'Press Start 2P', cursive;
  color:orange;
  margin-left: 30px;
}

.e1:hover {
  font-family: 'Press Start 2P', cursive;
  color:yellow;
}

.b:hover {
  font-family: 'Press Start 2P', cursive;
  color:green;
  margin-right: 30px;
}

.d:hover {
  font-family: 'Press Start 2P', cursive;
  color:blue;
}

.e2:hover {
  font-family: 'Press Start 2P', cursive;
  color:indigo;
}

.v:hover {
  font-family: 'Press Start 2P', cursive;
  color:violet;
}

.e3:hover {
  font-family: 'Press Start 2P', cursive;
  color:indigo;
}

.l:hover {
  font-family: 'Press Start 2P', cursive;
  color:blue;
}

.o:hover {
  font-family: 'Press Start 2P', cursive;
  color:green;
}

.p:hover {
  font-family: 'Press Start 2P', cursive;
  color:yellow;
}

.e4:hover {
  font-family: 'Press Start 2P', cursive;
  color:orange;
}

.r:hover {
  font-family: 'Press Start 2P', cursive;
  color:red;
}

.i:hover {
  color:red;
}

.m:hover {
  color:orange;
}

.a1:hover {
  color:yellow;
}

.n:hover {
  color:green;
}

.s:hover {
  color:blue;
}

.h:hover {
  color:indigo;
}

.u:hover {
  color:violet;
}

.s:hover {
  color:indigo;
}

.a2:hover {
  color:blue;
}

.r1:hover {
  color:green;
}

.k:hover {
  color:yellow;
}

.a3:hover {
  color:orange;
}

.r2:hover {
  color:red;
}

.dragongif {
  border: 0;
}
.skill-row{
  width:50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.wdpng{
height: 250px;
width: 300px;
float:left;
margin: 30px;
}
.lappng{
  height: 250px;
  width: 300px;
  float: right;
  margin: 30px
}
.bottom-container
{background-color: #66BFBF}
.btn {
  background: #34afba;
  background-image: -webkit-linear-gradient(top, #34afba, #2d8991);
  background-image: -moz-linear-gradient(top, #34afba, #2d8991);
  background-image: -ms-linear-gradient(top, #34afba, #2d8991);
  background-image: -o-linear-gradient(top, #34afba, #2d8991);
  background-image: linear-gradient(to bottom, #34afba, #2d8991);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 17px;
  padding: 5px 5px 5px 5px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

.btn:hover {
  background: #5492f0;
  background-image: -webkit-linear-gradient(top, #5492f0, #7161ff);
  background-image: -moz-linear-gradient(top, #5492f0, #7161ff);
  background-image: -ms-linear-gradient(top, #5492f0, #7161ff);
  background-image: -o-linear-gradient(top, #5492f0, #7161ff);
  background-image: linear-gradient(to bottom, #5492f0, #7161ff);
  text-decoration: none;
}
.contact-me{
  margin-bottom: 30px;
}
.bottom-container{
  padding: 25px;
}
.footer-link{
  color:#055860;
  padding:3px;
font-family: 'Short Stack', cursive;
text-decoration:none;

}
.footer-link:hover{
  text-decoration:underline;
  color:#ffffff;
}
