body{
  background-color: whitesmoke;
  margin: 0;
  text-align: center;
}
h1{
  margin-top: 0px;
  font-family: 'Rock Salt', cursive;
}
span{
  color: indigo;
}

/*fonts
font-family: 'Anonymous Pro', monospace;
font-family: 'Hi Melody', cursive;
font-family: 'Sanchez', serif;
font-family: 'Short Stack', cursive;*/


/*class selectors*/
.name{
  background-color:ghostwhite ;
  padding-top:100px;
  position: relative;

}
.t-cloud{
  position: absolute;
  right:300px;
  top:50px;
}
.b-cloud{
  position: absolute;
  left:300px;
  bottom:300px;

}
.webd{
  font-family: 'Press Start 2P', cursive;
}
